.main-content-wrapper {
    width : 100%;
    background-color: blanchedalmond;
}

.main-content-wrapper .left-menu {
    width : 15%;
    height : 100%;
    display : inline-block;
    margin: 0;
    background-color: coral;
}

.main-content-wrapper .main-section {
    width : 69%;
    height : 100%;
    margin: 0;
    padding: 15px;
    display : inline-block;
}

.main-content-wrapper .right-menu {
    width : 15%;
    height : 100%;
    margin: 0;
    display : inline-block;
    background-color: darkorchid;
}