<div class="left-menu-title-wrapper">
    <h3 class="left-menu-title">{{leftStructure.title}}</h3>
</div>
<nav class="left-menu-nav">
    <ul class="left-menu-ul">
        <li *ngFor="let item of listMenuItems" [id]="item.id" [ngClass]="[item.class]" >
            <span>{{item.title}}</span>
            <ul>
                <li *ngFor="let subItem of getSubMenuItems(item.id)" 
                    [id]="subItem.id" 
                    (click)="onClick(subItem.id)">
                    <span>{{subItem.header}}</span>
                </li>
            </ul>
        </li>
    </ul>
</nav>